gunicorn
aiohttp
opencv-python
attrs
cffi
crcmod
cryptography
pyee
pylibsrtp
pyopenssl
sphinxcontrib-asyncio
aubio
scipy
keras==2.2.4
tensorflow==1.13.1
tools
numpy
h5py
scipy
datetime
Pillow
matplotlib
